<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<!-- 自动扫描该包 -->
	<context:component-scan base-package="com.audio"/>
	
	<!-- 导入spring-mvc的配置文件，用来访问服务端接口 -->
	<import resource="classpath:spring-mvc.xml"/>
  	
  	<!-- 导入数据源 -->
  	<import resource="classpath:data-source.xml" />

	
</beans>
